<h3>
    Buscar por región <small> {{regionActiva}} </small>
</h3>
<hr>

<h5>Seleccione una región</h5>

<div class="row">
    <div class="col">

        <!-- [class.btn-info]="region === regionActiva" -->

        <!-- [ngClass]="{
            'btn-info' : regionActiva === region,
            'btn-outline-info' : regionActiva !== region
        }" -->

        <!-- [class]="(region === regionActiva) ? 'btn btn-info' : 'btn btn-outline-info'" 
                Si region es igual a regionActiva usamos la clase  btn btn-info sino usamos btn btn btn-outline-info
        -->

        <button 
        *ngFor="let region of regiones" 
        [class]="getClaseCss( region )"
        (click)="activarRegion( region )"
        > {{region}} </button>
    </div>
</div>

<div *ngIf="paises.length > 0" class="row mt-5">
    <div class="col">
        <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
</div>
